<p><strong>Appointment Hours</strong><br>
<p>Our office is open from 8:00-5:00 Monday through Friday. Our appointment hours are:</p><br>
<div class="container">
  <div class="row">
    <div class="col s12 m6" <br>
      <b></b>
      <ul>
        <li><strong></p></li>
        <li></strong></p></li>
        <li><p><strong></strong></p></li>
        <li><a href="mailto:tug24946@temple.edu" title="Michael Cohen">Michael Cohen</a><p><strong>Biblical Reception History in America</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/timothy-loftus"" title="Timothy Loftus">Timothy Loftus</a><p><strong>Buddhism</strong></p></li>
        <li><a href="https://mailto:tug24946@temple.edu" title="Charlotte Moore">Charlotte Moore</a><p><strong>Buddhism</strong></p></li>
        <li><a href="https://https://liberalarts.temple.edu/adam-valerio" title="Adam Valerio">Adam Valerio</a><p><strong>Buddhism</strong></p></li>
        <li><a href="mailto:tug78542@temple.edu" title="Barom Chon">Barom Chon</a><p><strong>Buddhism &amp; Confucianism,Temple Gazetteers</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/travis-travis" title="Travis Travis">Travis Travis</a><p><strong>Buddhist Āgama Literature, Digital Humanities</strong></p></li>
        <li><a href="mailto:ssanford@temple.edu" title="Sean Sanford">Sean Sanford</a><p><strong>Catholicism, American Religious History; Political Theology Theory, Religion and Sexuality</strong></p></li>
      </ul>
    </div>
