
<div class="sidebar">
  <p>Face-to-Face Learning:</br>
    <span>Classes meet in person.</span></p>
  <p>Flexible and Efficient Scheduling:</br>
    <span>Evening classes and summer internships help you graduate in two years.</span></p>
  <p>Learn from Experts:</br>
    <span>Classes are taught by experienced full-time faculty and working practitioners.</span></p>
  <p>Unmatched Location:</br>
    <span>Classes are held just a few minutes from Philadelphia City Hall and a few hours from Washington, DC.</span></p>
</div>
