<h2>Affiliated Faculty</h2>
  
<p>NEEDS SHORT DESCRIPTION</p>
  
<h3>Department of Psychology, CLA</h3>
  <ul>
 <li>Lauren Alloy, PhD, Professor</li>
 <li>Jason Chein, PhD, Associate Professor</li>
 <li>Lauren Ellman, PhD, Associate Professor</li>
 <li>Tania Giovannetti, PhD, Associate Professor</li>
 <li>Peter James, PhD, Associate Professor (Instructional)</li>
 <li>Ingrid Olson, PhD, Professor</li>
 <li>David Smith, PhD, Assistant Professor</li>
 <li>David Waxler, PhD, Assistant Professor (Instructional)</li>
  </ul>

<h3>Department of Physical Therapy, College of Public Health</h3>
  <ul>
 <li>Richard Lauer, PhD, Assistant Professor</li>
 <li>Emily Keshner, PhD, Professor</li> 
 <li>Carole Tucker, PhD, Associate Professor</li>
 <li>W. Geoffrey Wright, PhD, Associate Professor
  </ul>

 <h3>Department of Kinesiology</h3>
  <ul>
 <li>John Jeka, PhD, Professor</li> 
 <li>Jinsook Roh, PhD, Assistant Professor
 </ul>
   
 <h3>Department of Communication Sciences and Disorders</h3>
  <ul>
 <li>Nadine Martin, PhD, Professor</li>
 <li>Jamie Reilly, PhD, Professor 
 </ul>

 <h3>Department of Pharmacology, College of Medicine</h3>
  <ul>
 <li>Lynn Kirby, PhD, Associate Professor</li> 
 <li>John Muschamp, PhD, Assistant Professor</li>
 <li>Domenico Pratico, MD, Professor</li>
 <li>Scott Rawls, PhD, Associate Professor</li>
 <li>Ellen Unterwald, PhD, Professor 
  </ul>

<h3>Center for Neural Decision Making, Fox School of Business</h3>
  <ul>
 <li>Angelika Dimoka, PhD, Associate Professor</li>
 <li>Crystal Reeck, PhD, Assistant Professor</li>
 <li>Vinod Venkatraman, PhD, Assistant Professor</li>
  </ul>
</div>

